POC_WIPlugin_AssetDatasViewer/Service References/SessionManager/Contract.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.aveva.com/NET/2008/04/Contract" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.aveva.com/NET/2008/04/Contract" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.aveva.com/NET/2008/04/Contract/Imports">
      <xsd:import namespace="http://www.aveva.com/NET/2008/04/Contract" />
      <xsd:import namespace="http://schemas.aveva.com/NET/2008/04/Types" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISessionManager_CreateSession_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSession" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_CreateSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_CreateSession_ServiceErrorFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.aveva.com/NET/2008/04/Types" name="detail" element="q1:ServiceError" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_ReleaseSession_InputMessage">
    <wsdl:part name="parameters" element="tns:ReleaseSession" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_ReleaseSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReleaseSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_ReleaseSession_ServiceErrorFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.aveva.com/NET/2008/04/Types" name="detail" element="q2:ServiceError" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_LibraryVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:LibraryVersion" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_LibraryVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:LibraryVersionResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_LibraryVersion_ServiceErrorFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.aveva.com/NET/2008/04/Types" name="detail" element="q3:ServiceError" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_GetProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProperty" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_GetProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertyResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_GetProperty_ServiceErrorFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.aveva.com/NET/2008/04/Types" name="detail" element="q4:ServiceError" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_SetProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:SetProperty" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_SetProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPropertyResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_SetProperty_ServiceErrorFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.aveva.com/NET/2008/04/Types" name="detail" element="q5:ServiceError" />
  </wsdl:message>
  <wsdl:portType name="ISessionManager">
    <wsdl:operation name="CreateSession">
      <wsdl:input wsaw:Action="http://www.aveva.com/NET/2008/04/Contract/ISessionManager/CreateSession" message="tns:ISessionManager_CreateSession_InputMessage" />
      <wsdl:output wsaw:Action="http://www.aveva.com/NET/2008/04/Contract/ISessionManager/CreateSessionResponse" message="tns:ISessionManager_CreateSession_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.aveva.com/NET/2008/04/Contract/ISessionManager/CreateSessionServiceErrorFault" name="ServiceErrorFault" message="tns:ISessionManager_CreateSession_ServiceErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReleaseSession">
      <wsdl:input wsaw:Action="http://www.aveva.com/NET/2008/04/Contract/ISessionManager/ReleaseSession" message="tns:ISessionManager_ReleaseSession_InputMessage" />
      <wsdl:output wsaw:Action="http://www.aveva.com/NET/2008/04/Contract/ISessionManager/ReleaseSessionResponse" message="tns:ISessionManager_ReleaseSession_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.aveva.com/NET/2008/04/Contract/ISessionManager/ReleaseSessionServiceErrorFault" name="ServiceErrorFault" message="tns:ISessionManager_ReleaseSession_ServiceErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="LibraryVersion">
      <wsdl:input wsaw:Action="http://www.aveva.com/NET/2008/04/Contract/ISessionManager/LibraryVersion" message="tns:ISessionManager_LibraryVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://www.aveva.com/NET/2008/04/Contract/ISessionManager/LibraryVersionResponse" message="tns:ISessionManager_LibraryVersion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.aveva.com/NET/2008/04/Contract/ISessionManager/LibraryVersionServiceErrorFault" name="ServiceErrorFault" message="tns:ISessionManager_LibraryVersion_ServiceErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProperty">
      <wsdl:input wsaw:Action="http://www.aveva.com/NET/2008/04/Contract/ISessionManager/GetProperty" message="tns:ISessionManager_GetProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://www.aveva.com/NET/2008/04/Contract/ISessionManager/GetPropertyResponse" message="tns:ISessionManager_GetProperty_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.aveva.com/NET/2008/04/Contract/ISessionManager/GetPropertyServiceErrorFault" name="ServiceErrorFault" message="tns:ISessionManager_GetProperty_ServiceErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetProperty">
      <wsdl:input wsaw:Action="http://www.aveva.com/NET/2008/04/Contract/ISessionManager/SetProperty" message="tns:ISessionManager_SetProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://www.aveva.com/NET/2008/04/Contract/ISessionManager/SetPropertyResponse" message="tns:ISessionManager_SetProperty_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.aveva.com/NET/2008/04/Contract/ISessionManager/SetPropertyServiceErrorFault" name="ServiceErrorFault" message="tns:ISessionManager_SetProperty_ServiceErrorFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>