POC_WIPlugin_AssetDatasViewer/Service References/SessionManager/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.aveva.com/NET/2008/04/Types" elementFormDefault="qualified" targetNamespace="http://schemas.aveva.com/NET/2008/04/Types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SessionMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SessionMessage" nillable="true" type="tns:SessionMessage" />
  <xs:complexType name="ServiceError">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceError" nillable="true" type="tns:ServiceError" />
  <xs:complexType name="GetPropertyMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Public" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPropertyMessage" nillable="true" type="tns:GetPropertyMessage" />
  <xs:complexType name="SetPropertyMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Public" type="xs:boolean" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SetPropertyMessage" nillable="true" type="tns:SetPropertyMessage" />
</xs:schema>